
body { padding-top: 110px; }

.error
{
	color: red;
}

#slider1 
{
	width:100%;
	max-height: 300px;
	margin-top:50px;

}


.container 

{
	max-width:100%;
	padding-right: 0;
	padding-left:0;
}

.slide {
  position: relative;
}

.slide__caption {
    left: 0;
    bottom: 0;
    z-index: 2;
    width: auto;
    color: #fff;
    padding: 25px;
    max-width: 100%;
    font-size: 45px;
    min-height: 20px;
    min-width: 200px;
 
    font-weight: bolder;
    text-align: center;
    text-shadow: 0 0 5px black;
 
    display: block;
}


#logo-text{

	text-align:center;
	margin: auto 0px;
	display: block;
	color:#333;
}

.navbar-nav .nav-link
{

	color:#333;
	font-size:30px;
	margin-top:20px;
}

.navbar-fixed-top {
    top: 0;
    background: rgba(255, 255, 255, 0.9);
}

.container-fluid {
    margin: auto 0px;
    max-width: 1400px;
    margin-top: 35px;
}
h2 {

	font-size:40px;
	color:#333333;
}
#sliderText{
			text-align: center;
			margin: auto;
			display: block;
}



/*
	@media screen and (max-width: 1500px) {
		#sliderText{
			text-align: center;
			margin: auto;
			display: block;

color:red;
}


}

	@media screen and (max-width: 768px) {
		#sliderText{
color:yellow;
}


}
 
@media screen and (max-width: 568px) {
	#sliderText{
       color:blue;
   }
  
}*/






